@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

.banner{
margin-bottom: 200px;
}
.banner-title {
          font-family: 'Comfortaa', cursive;
            font-size: 3rem;
            font-weight: 400;  
}